{%extends "/base.html"%} {% block content %} {%if tweets|length > 0%}
<div class="container">
  <p>{{count}} Tweets left</p>
</div>

<div id="tweets_index" class="container">1/{{tweets|length}}</div>
<div class="container">
  <span
    id="left"
    class="nav material-icons"
    style="font-size: 3em; color: rgb(180, 170, 170)"
    >arrow_back_ios</span
  >

  <form action="/work_submitted" method="post" id="form">
    <div class="card-div">
      {%for i in range(tweets|length)%}
      <div class="card">
        <p class="tweet_body">{{tweets[i].body}}</p>
        <div class="container">
          <p>
            <input
              type="radio"
              name="{{tweets[i].id}}-sentiment"
              id="{{tweets[i].id}}-negative"
              value="-1"
            />
            <label for="{{tweets[i].id}}-negative">negative</label>
          </p>
          <p>
            <input
              type="radio"
              name="{{tweets[i].id}}-sentiment"
              id="{{tweets[i].id}}-neutral"
              value="0"
            />
            <label for="{{tweets[i].id}}-neutral">neutral</label>
          </p>
          <p>
            <input
              type="radio"
              name="{{tweets[i].id}}-sentiment"
              id="{{tweets[i].id}}-positive"
              value="1"
            />
            <label for="{{tweets[i].id}}-positive">positive</label>
          </p>
        </div>
      </div>

      {%endfor%}
    </div>
  </form>

  <span
    id="right"
    class="nav material-icons"
    style="font-size: 3em; color: rgb(180, 170, 170)"
  >
    arrow_forward_ios
  </span>
</div>

<div class="container">
  <div id="submit">Submit</div>
</div>
{%else%}
<div class="container">
  <div class="card-div">
    <div class="card">
      <p class="tweet_body">No New Tweets</p>
    </div>
  </div>
</div>

{%endif%}

<script src="{{ url_for('static', filename='./js/work.js') }}"></script>
{%endblock%}
